@charset "UTF-8";
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300);
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgnb\/Dropbox\/Website\/theme\/components\/foundation\/scss\/foundation\/components\/_global\.scss}line{font-family:\00003264}}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgnb\/Dropbox\/Website\/theme\/components\/foundation\/scss\/foundation\/components\/_global\.scss}line{font-family:\00003269}}
html,
body {
  font-size: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgnb\/Dropbox\/Website\/theme\/components\/foundation\/scss\/foundation\/components\/_global\.scss}line{font-family:\00003272}}
body {
  background: white;
  color: #222222;
  padding: 0;
  margin: 0;
  font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  line-height: 1;
  position: relative;
  cursor: default;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgnb\/Dropbox\/Website\/theme\/components\/foundation\/scss\/foundation\/components\/_global\.scss}line{font-family:\00003285}}
a:hover {
  cursor: pointer;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgnb\/Dropbox\/Website\/theme\/components\/foundation\/scss\/foundation\/components\/_global\.scss}line{font-family:\00003288}}
a:focus {
  outline: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgnb\/Dropbox\/Website\/theme\/components\/foundation\/scss\/foundation\/components\/_global\.scss}line{font-family:\00003293}}
img,
object,
embed {
  max-width: 100%;
  height: auto;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgnb\/Dropbox\/Website\/theme\/components\/foundation\/scss\/foundation\/components\/_global\.scss}line{font-family:\00003296}}
object,
embed {
  height: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgnb\/Dropbox\/Website\/theme\/components\/foundation\/scss\/foundation\/components\/_global\.scss}line{font-family:\00003297}}
img {
  -ms-interpolation-mode: bicubic;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgnb\/Dropbox\/Website\/theme\/components\/foundation\/scss\/foundation\/components\/_global\.scss}line{font-family:\00003303}}
#map_canvas img,
#map_canvas embed,
#map_canvas object,
.map_canvas img,
.map_canvas embed,
.map_canvas object {
  max-width: none !important;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgnb\/Dropbox\/Website\/theme\/components\/foundation\/scss\/foundation\/components\/_global\.scss}line{font-family:\00003308}}
.left {
  float: left !important;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgnb\/Dropbox\/Website\/theme\/components\/foundation\/scss\/foundation\/components\/_global\.scss}line{font-family:\00003309}}
.right {
  float: right !important;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgnb\/Dropbox\/Website\/theme\/components\/foundation\/scss\/foundation\/components\/_global\.scss}line{font-family:\00003310}}
.text-left {
  text-align: left !important;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgnb\/Dropbox\/Website\/theme\/components\/foundation\/scss\/foundation\/components\/_global\.scss}line{font-family:\00003311}}
.text-right {
  text-align: right !important;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgnb\/Dropbox\/Website\/theme\/components\/foundation\/scss\/foundation\/components\/_global\.scss}line{font-family:\00003312}}
.text-center {
  text-align: center !important;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgnb\/Dropbox\/Website\/theme\/components\/foundation\/scss\/foundation\/components\/_global\.scss}line{font-family:\00003313}}
.text-justify {
  text-align: justify !important;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgnb\/Dropbox\/Website\/theme\/components\/foundation\/scss\/foundation\/components\/_global\.scss}line{font-family:\00003314}}
.hide {
  display: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgnb\/Dropbox\/Website\/theme\/components\/foundation\/scss\/foundation\/components\/_global\.scss}line{font-family:\00003320}}
.antialiased {
  -webkit-font-smoothing: antialiased;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgnb\/Dropbox\/Website\/theme\/components\/foundation\/scss\/foundation\/components\/_global\.scss}line{font-family:\00003323}}
img {
  display: inline-block;
  vertical-align: middle;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgnb\/Dropbox\/Website\/theme\/components\/foundation\/scss\/foundation\/components\/_global\.scss}line{font-family:\00003333}}
textarea {
  height: auto;
  min-height: 50px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgnb\/Dropbox\/Website\/theme\/components\/foundation\/scss\/foundation\/components\/_global\.scss}line{font-family:\00003336}}
select {
  width: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgnb\/Dropbox\/Website\/theme\/components\/foundation\/scss\/foundation\/components\/_type\.scss}line{font-family:\00003110}}
p.lead {
  font-size: 1.21875em;
  line-height: 1.6;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgnb\/Dropbox\/Website\/theme\/components\/foundation\/scss\/foundation\/components\/_type\.scss}line{font-family:\00003115}}
.subheader {
  line-height: 1.4;
  color: #6f6f6f;
  font-weight: 300;
  margin-top: 0.2em;
  margin-bottom: 0.5em;
}

/* Typography resets */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgnb\/Dropbox\/Website\/theme\/components\/foundation\/scss\/foundation\/components\/_type\.scss}line{font-family:\00003144}}
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
  direction: ltr;
}

/* Default Link Styles */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgnb\/Dropbox\/Website\/theme\/components\/foundation\/scss\/foundation\/components\/_type\.scss}line{font-family:\00003151}}
a {
  color: #2ba6cb;
  text-decoration: none;
  line-height: inherit;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgnb\/Dropbox\/Website\/theme\/components\/foundation\/scss\/foundation\/components\/_type\.scss}line{font-family:\00003157}}
a:hover, a:focus {
  color: #2795b6;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgnb\/Dropbox\/Website\/theme\/components\/foundation\/scss\/foundation\/components\/_type\.scss}line{font-family:\00003159}}
a img {
  border: none;
}

/* Default paragraph styles */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgnb\/Dropbox\/Website\/theme\/components\/foundation\/scss\/foundation\/components\/_type\.scss}line{font-family:\00003163}}
p {
  font-family: inherit;
  font-weight: normal;
  font-size: 1em;
  line-height: 1.6;
  margin-bottom: 1.25em;
  text-rendering: optimizeLegibility;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgnb\/Dropbox\/Website\/theme\/components\/foundation\/scss\/foundation\/components\/_type\.scss}line{font-family:\00003173}}
p aside {
  font-size: 0.875em;
  line-height: 1.35;
  font-style: italic;
}

/* Default header styles */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgnb\/Dropbox\/Website\/theme\/components\/foundation\/scss\/foundation\/components\/_type\.scss}line{font-family:\00003181}}
h1, h2, h3, h4, h5, h6 {
  font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-style: normal;
  color: #222222;
  text-rendering: optimizeLegibility;
  margin-top: 0.2em;
  margin-bottom: 0.5em;
  line-height: 1.2125em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgnb\/Dropbox\/Website\/theme\/components\/foundation\/scss\/foundation\/components\/_type\.scss}line{font-family:\00003191}}
h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
  font-size: 60%;
  color: #6f6f6f;
  line-height: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgnb\/Dropbox\/Website\/theme\/components\/foundation\/scss\/foundation\/components\/_type\.scss}line{font-family:\00003198}}
h1 {
  font-size: 2.125em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgnb\/Dropbox\/Website\/theme\/components\/foundation\/scss\/foundation\/components\/_type\.scss}line{font-family:\00003199}}
h2 {
  font-size: 1.6875em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgnb\/Dropbox\/Website\/theme\/components\/foundation\/scss\/foundation\/components\/_type\.scss}line{font-family:\00003200}}
h3 {
  font-size: 1.375em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgnb\/Dropbox\/Website\/theme\/components\/foundation\/scss\/foundation\/components\/_type\.scss}line{font-family:\00003201}}
h4 {
  font-size: 1.125em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgnb\/Dropbox\/Website\/theme\/components\/foundation\/scss\/foundation\/components\/_type\.scss}line{font-family:\00003202}}
h5 {
  font-size: 1.125em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgnb\/Dropbox\/Website\/theme\/components\/foundation\/scss\/foundation\/components\/_type\.scss}line{font-family:\00003203}}
h6 {
  font-size: 1em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgnb\/Dropbox\/Website\/theme\/components\/foundation\/scss\/foundation\/components\/_type\.scss}line{font-family:\00003207}}
hr {
  border: solid #dddddd;
  border-width: 1px 0 0;
  clear: both;
  margin: 1.25em 0 1.1875em;
  height: 0;
}

/* Helpful Typography Defaults */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgnb\/Dropbox\/Website\/theme\/components\/foundation\/scss\/foundation\/components\/_type\.scss}line{font-family:\00003217}}
em,
i {
  font-style: italic;
  line-height: inherit;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgnb\/Dropbox\/Website\/theme\/components\/foundation\/scss\/foundation\/components\/_type\.scss}line{font-family:\00003223}}
strong,
b {
  font-weight: bold;
  line-height: inherit;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgnb\/Dropbox\/Website\/theme\/components\/foundation\/scss\/foundation\/components\/_type\.scss}line{font-family:\00003228}}
small {
  font-size: 60%;
  line-height: inherit;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgnb\/Dropbox\/Website\/theme\/components\/foundation\/scss\/foundation\/components\/_type\.scss}line{font-family:\00003233}}
code {
  font-family: Consolas, "Liberation Mono", Courier, monospace;
  font-weight: bold;
  color: #7f0a0c;
}

/* Lists */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgnb\/Dropbox\/Website\/theme\/components\/foundation\/scss\/foundation\/components\/_type\.scss}line{font-family:\00003242}}
ul,
ol,
dl {
  font-size: 1em;
  line-height: 1.6;
  margin-bottom: 1.25em;
  list-style-position: outside;
  font-family: inherit;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgnb\/Dropbox\/Website\/theme\/components\/foundation\/scss\/foundation\/components\/_type\.scss}line{font-family:\00003250}}
ul, ol {
  margin-left: 0;
}

/* Unordered Lists */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgnb\/Dropbox\/Website\/theme\/components\/foundation\/scss\/foundation\/components\/_type\.scss}line{font-family:\00003258}}
ul li ul,
ul li ol {
  margin-left: 1.25em;
  margin-bottom: 0;
  font-size: 1em;
  /* Override nested font-size change */
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgnb\/Dropbox\/Website\/theme\/components\/foundation\/scss\/foundation\/components\/_type\.scss}line{font-family:\00003267}}
ul.square li ul, ul.circle li ul, ul.disc li ul {
  list-style: inherit;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgnb\/Dropbox\/Website\/theme\/components\/foundation\/scss\/foundation\/components\/_type\.scss}line{font-family:\00003270}}
ul.square {
  list-style-type: square;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgnb\/Dropbox\/Website\/theme\/components\/foundation\/scss\/foundation\/components\/_type\.scss}line{font-family:\00003271}}
ul.circle {
  list-style-type: circle;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgnb\/Dropbox\/Website\/theme\/components\/foundation\/scss\/foundation\/components\/_type\.scss}line{font-family:\00003272}}
ul.disc {
  list-style-type: disc;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgnb\/Dropbox\/Website\/theme\/components\/foundation\/scss\/foundation\/components\/_type\.scss}line{font-family:\00003273}}
ul.no-bullet {
  list-style: none;
}

/* Ordered Lists */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgnb\/Dropbox\/Website\/theme\/components\/foundation\/scss\/foundation\/components\/_type\.scss}line{font-family:\00003280}}
ol li ul,
ol li ol {
  margin-left: 1.25em;
  margin-bottom: 0;
}

/* Definition Lists */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgnb\/Dropbox\/Website\/theme\/components\/foundation\/scss\/foundation\/components\/_type\.scss}line{font-family:\00003289}}
dl dt {
  margin-bottom: 0.3em;
  font-weight: bold;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgnb\/Dropbox\/Website\/theme\/components\/foundation\/scss\/foundation\/components\/_type\.scss}line{font-family:\00003293}}
dl dd {
  margin-bottom: 0.75em;
}

/* Abbreviations */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgnb\/Dropbox\/Website\/theme\/components\/foundation\/scss\/foundation\/components\/_type\.scss}line{font-family:\00003298}}
abbr,
acronym {
  text-transform: uppercase;
  font-size: 90%;
  color: #222222;
  border-bottom: 1px dotted #dddddd;
  cursor: help;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgnb\/Dropbox\/Website\/theme\/components\/foundation\/scss\/foundation\/components\/_type\.scss}line{font-family:\00003305}}
abbr {
  text-transform: none;
}

/* Blockquotes */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgnb\/Dropbox\/Website\/theme\/components\/foundation\/scss\/foundation\/components\/_type\.scss}line{font-family:\00003310}}
blockquote {
  margin: 0 0 1.25em;
  padding: 0.5625em 1.25em 0 1.1875em;
  border-left: 1px solid #dddddd;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgnb\/Dropbox\/Website\/theme\/components\/foundation\/scss\/foundation\/components\/_type\.scss}line{font-family:\00003315}}
blockquote cite {
  display: block;
  font-size: 0.8125em;
  color: #555555;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgnb\/Dropbox\/Website\/theme\/components\/foundation\/scss\/foundation\/components\/_type\.scss}line{font-family:\00003319}}
blockquote cite:before {
  content: "\2014 \0020";
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgnb\/Dropbox\/Website\/theme\/components\/foundation\/scss\/foundation\/components\/_type\.scss}line{font-family:\00003324}}
blockquote cite a,
blockquote cite a:visited {
  color: #555555;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgnb\/Dropbox\/Website\/theme\/components\/foundation\/scss\/foundation\/components\/_type\.scss}line{font-family:\00003330}}
blockquote,
blockquote p {
  line-height: 1.6;
  color: #6f6f6f;
}

/* Microformats */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgnb\/Dropbox\/Website\/theme\/components\/foundation\/scss\/foundation\/components\/_type\.scss}line{font-family:\00003336}}
.vcard {
  display: inline-block;
  margin: 0 0 1.25em 0;
  border: 1px solid #dddddd;
  padding: 0.625em 0.75em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgnb\/Dropbox\/Website\/theme\/components\/foundation\/scss\/foundation\/components\/_type\.scss}line{font-family:\00003342}}
.vcard li {
  margin: 0;
  display: block;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgnb\/Dropbox\/Website\/theme\/components\/foundation\/scss\/foundation\/components\/_type\.scss}line{font-family:\00003346}}
.vcard .fn {
  font-weight: bold;
  font-size: 0.9375em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgnb\/Dropbox\/Website\/theme\/components\/foundation\/scss\/foundation\/components\/_type\.scss}line{font-family:\00003353}}
.vevent .summary {
  font-weight: bold;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgnb\/Dropbox\/Website\/theme\/components\/foundation\/scss\/foundation\/components\/_type\.scss}line{font-family:\00003355}}
.vevent abbr {
  cursor: default;
  text-decoration: none;
  font-weight: bold;
  border: none;
  padding: 0 0.0625em;
}

@media only screen and (min-width: 768px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgnb\/Dropbox\/Website\/theme\/components\/foundation\/scss\/foundation\/components\/_type\.scss}line{font-family:\00003366}}
  h1, h2, h3, h4, h5, h6 {
    line-height: 1.4;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgnb\/Dropbox\/Website\/theme\/components\/foundation\/scss\/foundation\/components\/_type\.scss}line{font-family:\00003367}}
  h1 {
    font-size: 2.75em;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgnb\/Dropbox\/Website\/theme\/components\/foundation\/scss\/foundation\/components\/_type\.scss}line{font-family:\00003368}}
  h2 {
    font-size: 2.3125em;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgnb\/Dropbox\/Website\/theme\/components\/foundation\/scss\/foundation\/components\/_type\.scss}line{font-family:\00003369}}
  h3 {
    font-size: 1.6875em;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgnb\/Dropbox\/Website\/theme\/components\/foundation\/scss\/foundation\/components\/_type\.scss}line{font-family:\00003370}}
  h4 {
    font-size: 1.4375em;
  }
}
/*
 * Print styles.
 *
 * Inlined to avoid required HTTP connection: www.phpied.com/delay-loading-your-print-css/
 * Credit to Paul Irish and HTML5 Boilerplate (html5boilerplate.com)
*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgnb\/Dropbox\/Website\/theme\/components\/foundation\/scss\/foundation\/components\/_type\.scss}line{font-family:\00003381}}
.print-only {
  display: none !important;
}

@media print {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgnb\/Dropbox\/Website\/theme\/components\/foundation\/scss\/foundation\/components\/_type\.scss}line{font-family:\00003383}}
  * {
    background: transparent !important;
    color: black !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgnb\/Dropbox\/Website\/theme\/components\/foundation\/scss\/foundation\/components\/_type\.scss}line{font-family:\00003391}}
  a,
  a:visited {
    text-decoration: underline;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgnb\/Dropbox\/Website\/theme\/components\/foundation\/scss\/foundation\/components\/_type\.scss}line{font-family:\00003392}}
  a[href]:after {
    content: " (" attr(href) ")";
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgnb\/Dropbox\/Website\/theme\/components\/foundation\/scss\/foundation\/components\/_type\.scss}line{font-family:\00003394}}
  abbr[title]:after {
    content: " (" attr(title) ")";
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgnb\/Dropbox\/Website\/theme\/components\/foundation\/scss\/foundation\/components\/_type\.scss}line{font-family:\00003399}}
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgnb\/Dropbox\/Website\/theme\/components\/foundation\/scss\/foundation\/components\/_type\.scss}line{font-family:\00003402}}
  pre,
  blockquote {
    border: 1px solid #999999;
    page-break-inside: avoid;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgnb\/Dropbox\/Website\/theme\/components\/foundation\/scss\/foundation\/components\/_type\.scss}line{font-family:\00003407}}
  thead {
    display: table-header-group;
    /* h5bp.com/t */
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgnb\/Dropbox\/Website\/theme\/components\/foundation\/scss\/foundation\/components\/_type\.scss}line{font-family:\00003410}}
  tr,
  img {
    page-break-inside: avoid;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgnb\/Dropbox\/Website\/theme\/components\/foundation\/scss\/foundation\/components\/_type\.scss}line{font-family:\00003412}}
  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgnb\/Dropbox\/Website\/theme\/components\/foundation\/scss\/foundation\/components\/_type\.scss}line{font-family:\00003418}}
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgnb\/Dropbox\/Website\/theme\/components\/foundation\/scss\/foundation\/components\/_type\.scss}line{font-family:\00003424}}
  h2,
  h3 {
    page-break-after: avoid;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgnb\/Dropbox\/Website\/theme\/components\/foundation\/scss\/foundation\/components\/_type\.scss}line{font-family:\00003426}}
  .hide-on-print {
    display: none !important;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgnb\/Dropbox\/Website\/theme\/components\/foundation\/scss\/foundation\/components\/_type\.scss}line{font-family:\00003427}}
  .print-only {
    display: block !important;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgnb\/Dropbox\/Website\/theme\/components\/foundation\/scss\/foundation\/components\/_type\.scss}line{font-family:\00003428}}
  .hide-for-print {
    display: none !important;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgnb\/Dropbox\/Website\/theme\/components\/foundation\/scss\/foundation\/components\/_type\.scss}line{font-family:\00003429}}
  .show-for-print {
    display: inherit !important;
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgnb\/Dropbox\/Website\/theme\/styles\/main\.scss}line{font-family:\0000347}}
body {
  font-family: "Georgia";
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgnb\/Dropbox\/Website\/theme\/styles\/main\.scss}line{font-family:\0000351}}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Source Sans Pro';
  font-weight: 300;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgnb\/Dropbox\/Website\/theme\/styles\/main\.scss}line{font-family:\0000356}}
.profile {
  display: block;
  margin: 0;
  border: none;
  padding: 0;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 200px;
  padding: 110px 12px 80px 8px;
  text-align: right;
  font-family: 'Source Sans Pro';
  font-weight: 300;
  font-size: 0.8em;
  background-color: #eaeaea;
  border-left: 22px solid #363636;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgnb\/Dropbox\/Website\/theme\/styles\/main\.scss}line{font-family:\0000362}}
.profile .fn {
  font-weight: 300;
  font-size: 1.6em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgnb\/Dropbox\/Website\/theme\/styles\/main\.scss}line{font-family:\0000384}}
.profile .picture {
  margin-left: -8px;
  width: 200px;
  height: 200px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgnb\/Dropbox\/Website\/theme\/styles\/main\.scss}line{font-family:\0000390}}
.profile .picture .photo {
  -webkit-border-top-right-radius: 9px;
  -webkit-border-bottom-right-radius: 9px;
  -moz-border-radius-topright: 9px;
  -moz-border-radius-bottomright: 9px;
  border-top-right-radius: 9px;
  border-bottom-right-radius: 9px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgnb\/Dropbox\/Website\/theme\/styles\/main\.scss}line{font-family:\00003101}}
.profile .social .twitter, .profile .social .googleplus, .profile .social .linkedin, .profile .social .rss {
  display: block;
  margin-bottom: 5px;
  float: right;
  clear: both;
  width: 32px;
  height: 32px;
  background-image: url(../images/social-icons.png);
  background-size: 128px 32px;
  text-indent: -9999px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgnb\/Dropbox\/Website\/theme\/styles\/main\.scss}line{font-family:\00003112}}
.profile .social .twitter {
  background-position: 0 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgnb\/Dropbox\/Website\/theme\/styles\/main\.scss}line{font-family:\00003115}}
.profile .social .googleplus {
  background-position: -32px 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgnb\/Dropbox\/Website\/theme\/styles\/main\.scss}line{font-family:\00003118}}
.profile .social .linkedin {
  background-position: -64px 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgnb\/Dropbox\/Website\/theme\/styles\/main\.scss}line{font-family:\00003121}}
.profile .social .rss {
  background-position: -96px 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgnb\/Dropbox\/Website\/theme\/styles\/main\.scss}line{font-family:\00003126}}
.profile h1 {
  font-size: 1.6em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgnb\/Dropbox\/Website\/theme\/styles\/main\.scss}line{font-family:\00003130}}
.profile ul {
  padding-left: 34px;
  list-style: none;
  line-height: 1.3;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgnb\/Dropbox\/Website\/theme\/styles\/main\.scss}line{font-family:\00003136}}
.profile ul li {
  margin-bottom: 4px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgnb\/Dropbox\/Website\/theme\/styles\/main\.scss}line{font-family:\00003142}}
.content {
  margin: 60px auto 0 auto;
  max-width: 600px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgnb\/Dropbox\/Website\/theme\/styles\/main\.scss}line{font-family:\00003147}}
.content h1.post-title {
  margin-left: -40px;
  padding-left: 20px;
  border-left: 20px solid #a0a0a0;
}

@media only screen and (max-width: 1180px) and (min-width: 1001px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgnb\/Dropbox\/Website\/theme\/styles\/main\.scss}line{font-family:\00003156}}
  .content {
    margin: 60px 0 0 290px;
  }
}
@media only screen and (max-width: 1000px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgnb\/Dropbox\/Website\/theme\/styles\/main\.scss}line{font-family:\00003163}}
  .profile {
    position: relative;
    width: auto;
    padding: 8px;
    border-left: 11px solid #363636;
    *zoom: 1;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgnb\/Dropbox\/Website\/theme\/components\/foundation\/scss\/foundation\/components\/_global\.scss}line{font-family:\00003121}}
  .profile:before, .profile:after {
    content: " ";
    display: table;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgnb\/Dropbox\/Website\/theme\/components\/foundation\/scss\/foundation\/components\/_global\.scss}line{font-family:\00003122}}
  .profile:after {
    clear: both;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgnb\/Dropbox\/Website\/theme\/styles\/main\.scss}line{font-family:\00003171}}
  .profile .picture {
    float: left;
    margin: 0;
    margin-left: -8px;
    margin-right: 20px;
    width: 45%;
    max-width: 200px;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgnb\/Dropbox\/Website\/theme\/styles\/main\.scss}line{font-family:\00003180}}
  .profile .profile-details {
    float: right;
    width: 50%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgnb\/Dropbox\/Website\/theme\/styles\/main\.scss}line{font-family:\00003184}}
  .profile ul {
    padding-left: 0;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgnb\/Dropbox\/Website\/theme\/styles\/main\.scss}line{font-family:\00003189}}
  .profile .social .twitter, .profile .social .googleplus, .profile .social .linkedin, .profile .social .rss {
    margin-left: 5px;
    clear: none;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgnb\/Dropbox\/Website\/theme\/styles\/main\.scss}line{font-family:\00003195}}
  .content {
    margin: 0;
    max-width: none;
    padding: 10px;
  }
}
