@charset "UTF-8";

@import "compass";

// Fonts
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300);

@import
  "foundation/variables";

$header-font-family: "Source Sans Pro", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
$header-font-weight: 300;

$h1-font-size: emCalc(35);
$h2-font-size: emCalc(33);
$h3-font-size: emCalc(27);
$h4-font-size: emCalc(23);
$h5-font-size: emCalc(18);
$h6-font-size: 1em;

$body-font-family: "Georgia", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;

@import
  "foundation/components/global",
  "foundation/components/type";

$small-screen: 1000px;

// # Profile variables
$profile-font-family: $header-font-family;

$large-screen-profile-width: emCalc(200);
$profile-padding: emCalc(8);

$profile-left-border-width: emCalc(11);
$profile-left-border-color: rgb(54, 54, 54);

$large-screen-profile-left-border-width: emCalc(22);

// ## Profile picture
$picture-width: emCalc(175);
$large-screen-picture-width: emCalc(200);

// # Content variables
$content-padding: emCalc(10);
$content-left-margin: emCalc(70);
$content-max-width: emCalc(600);

$post-header-marker-color: rgb(160, 160, 160);
$post-header-marker-width: emCalc(2.5);
$post-header-marker-offset: emCalc(4);

$large-screen-post-header-marker-width: emCalc(20);
$large-screen-post-header-marker-offset: emCalc(20);

@mixin large-screen {
  @media only screen and (min-width: #{$small-screen}){
    @content;
  }
}

a:hover {
  text-decoration: underline;
}

@import "profile";
@import "content";
